In [1]:
import pandas as pd

In [2]:
games=pd.read_csv("games.csv")

In [3]:
games.head()

,id,age_ratings,artworks,category,cover,dlcs,first_release_date,game_modes,genres,involved_companies,...,summary,total_rating,url,videos,websites,status,ports,remakes,remasters,franchise
0,1443,"[13005, 47239, 47240, 99973, 139045, 139046]","[3014, 3015, 3016, 3017, 3018]",0,288034.0,"[237415, 237416, 237417, 237418, 237419, 23742...",1334793600,[1],"[12, 15]","[3106, 51776, 264417]",...,Armies clash as the world burns. As an inevita...,88.020803,https://www.igdb.com/games/fire-emblem-awakening,"[971, 972]","[10066, 51150, 51151, 334186]",NaN,NaN,NaN,NaN,NaN
1,82461,[84506],NaN,0,60658.0,NaN,1480032000,NaN,NaN,NaN,...,Sparkle 2: Sparkle 2 is a superbly polished ma...,60.000000,https://www.igdb.com/games/10tons-adventure-pu...,NaN,[440080],NaN,NaN,NaN,NaN,NaN
2,236547,NaN,NaN,0,310658.0,NaN,1690934400,[1],"[15, 24, 32]",[224218],...,A minimalist game about building and defending...,77.856060,https://www.igdb.com/games/thronefall,"[97151, 118938]","[528578, 556705, 570629]",NaN,NaN,NaN,NaN,NaN
3,1438,[47448],"[110214, 110215, 110216, 110217]",0,309491.0,NaN,1017360000,[1],"[12, 15, 24]","[154367, 154369, 226309, 264446]",...,Fire Emblem: The Binding Blade is a Japanese t...,73.891594,https://www.igdb.com/games/fire-emblem-the-bin...,"[36543, 57291]","[61109, 142038, 142039, 335449]",NaN,NaN,NaN,NaN,NaN
4,10402,NaN,[9037],0,104252.0,NaN,1410998400,[1],"[5, 32]","[83355, 96895]",...,Armed with a simple yet stylish revolver and s...,70.233917,https://www.igdb.com/games/heavy-bullets,[5140],"[44116, 44117, 238156, 397643]",NaN,NaN,NaN,NaN,NaN

In [4]:
games.isnull().sum()

id                         0
age_ratings             9069
artworks                9821
category                   0
cover                    779
dlcs                   21800
first_release_date         0
game_modes              1554
genres                   475
involved_companies      3757
keywords                7827
name                       0
platforms                  0
player_perspectives     7808
release_dates              0
screenshots              564
similar_games            251
slug                       0
summary                   66
total_rating               0
url                        0
videos                  9495
websites                 365
status                 21519
ports                  21742
remakes                23042
remasters              22807
franchise              22413
dtype: int64

In [5]:
games.columns

Index(['id', 'age_ratings', 'artworks', 'category', 'cover', 'dlcs',
       'first_release_date', 'game_modes', 'genres', 'involved_companies',
       'keywords', 'name', 'platforms', 'player_perspectives', 'release_dates',
       'screenshots', 'similar_games', 'slug', 'summary', 'total_rating',
       'url', 'videos', 'websites', 'status', 'ports', 'remakes', 'remasters',
       'franchise'],
      dtype='object')

In [7]:
games.head()

,id,age_ratings,artworks,category,cover,dlcs,first_release_date,game_modes,genres,involved_companies,...,summary,total_rating,url,videos,websites,status,ports,remakes,remasters,franchise
0,1443,"[13005, 47239, 47240, 99973, 139045, 139046]","[3014, 3015, 3016, 3017, 3018]",0,288034.0,"[237415, 237416, 237417, 237418, 237419, 23742...",1334793600,[1],"[12, 15]","[3106, 51776, 264417]",...,Armies clash as the world burns. As an inevita...,88.020803,https://www.igdb.com/games/fire-emblem-awakening,"[971, 972]","[10066, 51150, 51151, 334186]",NaN,NaN,NaN,NaN,NaN
1,82461,[84506],NaN,0,60658.0,NaN,1480032000,NaN,NaN,NaN,...,Sparkle 2: Sparkle 2 is a superbly polished ma...,60.000000,https://www.igdb.com/games/10tons-adventure-pu...,NaN,[440080],NaN,NaN,NaN,NaN,NaN
2,236547,NaN,NaN,0,310658.0,NaN,1690934400,[1],"[15, 24, 32]",[224218],...,A minimalist game about building and defending...,77.856060,https://www.igdb.com/games/thronefall,"[97151, 118938]","[528578, 556705, 570629]",NaN,NaN,NaN,NaN,NaN
3,1438,[47448],"[110214, 110215, 110216, 110217]",0,309491.0,NaN,1017360000,[1],"[12, 15, 24]","[154367, 154369, 226309, 264446]",...,Fire Emblem: The Binding Blade is a Japanese t...,73.891594,https://www.igdb.com/games/fire-emblem-the-bin...,"[36543, 57291]","[61109, 142038, 142039, 335449]",NaN,NaN,NaN,NaN,NaN
4,10402,NaN,[9037],0,104252.0,NaN,1410998400,[1],"[5, 32]","[83355, 96895]",...,Armed with a simple yet stylish revolver and s...,70.233917,https://www.igdb.com/games/heavy-bullets,[5140],"[44116, 44117, 238156, 397643]",NaN,NaN,NaN,NaN,NaN

In [9]:
games['age_ratings'].head()

0    [13005, 47239, 47240, 99973, 139045, 139046]
1                                         [84506]
2                                             NaN
3                                         [47448]
4                                             NaN
Name: age_ratings, dtype: object